/*Comments by Mohammed Farhan N P*/

/* 
root is where all variables of css is stored
every variable name should start with '--'.
*/
:root{
    --peach:#f7b6ad;
    --dusty-rose:#8a5862;
    --off-white:#f8f8f8;
    --dusty-rose-light:#b27c87;
    --navy-blue:#34495e;

}

body
{
    margin:0;/* to remove white border */
    background-color: var(--off-white);
}

/*
Banner class for banner at the top section of the web page
*/

.banner{
    background-color:var(--dusty-rose);
    color:var(--off-white);
    padding:20px;
    font-size:24px;
    position:relative;
    text-align: center;
}

/*
Content class for content divsion tag to align items to the center and middle of the webpage.
*/

.content{
    display: flex; /* Flex for aligning elements of div tag according to our needs*/
    flex-direction: column; /* making each element align vertically */
    align-items: center;
    justify-content: center;
}

/*
Button Container class for buttons inside Content Division Tag.
*/

.button-container{
    display: flex; /* Flex for aligning elements of div tag according to our needs*/
    gap: 15px; /* Gap between buttons */
    justify-content: center;
    
}

/* text class for text content */
.text{
    width: 300px;
    word-wrap: break-word;
}

/* For all h3 tags inside div with 'text' class */
.text h3{
    color: var(--dusty-rose);
}

/* For all p tags inside div with 'text' class */
.text p{
    color: var(--navy-blue);
}

/* btn class for any normal button | To be used throughout the entire website */
.btn{
    background-color: var(--dusty-rose);
    color: var(--off-white);
    padding: 10px;
    border: 0 ;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* btn class hover styles | for mouse hover above the button */
.btn:hover{
    background-color: var(--dusty-rose-light);
    transform: scale(1.1);
}

/* course-btns container class for div tag with card like buttons */
.course-btns{
    display:flex;
    justify-content:center;
    align-content: center;
    margin-top:250px;
    gap:25px;
}
.login-div{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 70vh;

}

.content-form{
    display: flex; /* Flex for aligning elements of div tag according to our needs*/
    flex-direction: column; /* making each element align vertically */
    align-items: center;
    gap:10px;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: rgb(159, 255, 49);
    border-radius: 15px;
}


